#!/bin/bash

# cd to working directory
cd {{ duplicacy_working_directory }}

# env
{% for _env in _duplicacy_env %}
export {{ _env }}="{{ _duplicacy_env[_env] }}"
{% endfor %}

# env backup
{% for _env in _duplicacy_env_backup %}
export {{ _env }}="{{ _duplicacy_env_backup[_env] }}"
{% endfor %}
 
# env special
{% for _env in _duplicacy_env_special %}
export {{ _env }}="{{ _duplicacy_env_special[_env] }}"
{% endfor %}

# pre backup
if [ -f {{ duplicacy_script_file_path }}/{{ duplicacy_pre_backup_script_file_name }} ]; then
    bash {{ duplicacy_script_file_path }}/{{ duplicacy_pre_backup_script_file_name }}
    status=$?
fi

if [ $status != 0 ]; then
    echo "Pre-backup script exited with status code $status. Not performing backup." >&2
    exit $status
fi

# backup
{{ duplicacy_path }}/bin/duplicacy -log backup {{ duplicacy_backup_options }} | tee backup.log

# post backup
if [ -f {{ duplicacy_script_file_path }}/{{ duplicacy_post_backup_script_file_name }} ]; then
    bash {{ duplicacy_script_file_path }}/{{ duplicacy_post_backup_script_file_name }}
    status=$?
    exit $status
fi
