#!/bin/sh

# cd to working directory
cd {{ duplicacy_working_directory }}

# env prune
{% for _env in _duplicacy_env_prune %}
export {{ _env }}="{{ _duplicacy_env_prune[_env] }}"
{% endfor %}
 
# env special
{% for _env in _duplicacy_env_special %}
export {{ _env }}="{{ _duplicacy_env_special[_env] }}"
{% endfor %}

# prune
{{ duplicacy_path }}/bin/duplicacy -log prune {{ duplicacy_prune_options }} | tee prune.log