#!/bin/sh

# cd to working directory
cd {{ duplicacy_working_directory }}

# env init
{% for _env in _duplicacy_env_init %}
export {{ _env }}="{{ _duplicacy_env_init[_env] }}"
{% endfor %}
 
# env special
{% for _env in _duplicacy_env_special %}
export {{ _env }}="{{ _duplicacy_env_special[_env] }}"
{% endfor %}

# init
{{ duplicacy_path }}/bin/duplicacy init {{ duplicacy_init_options }} {{ duplicacy_snapshot_id }} "{{ duplicacy_storage_url }}"
